# Ignore .env file
.env

# Do not ignore example files
!.example.env
!.env.example

# Do not ignore README.md files
!/*.md
# Do not ignore any .yml files
!/*.yml

# Ignore all files
# ../*

./extraConfigs/
/extraConfigs/.*